body, html{
  height: 100%;
  background-repeat: no-repeat;
  background-color: #d3d3d3 !important;
  font-family: 'Oxygen', sans-serif;
}

.main{
  margin-top: 15px;
}

h1.title {
  font-size: 50px;
  font-weight: 400;
  color: #0B0B61;
  font-weight:500;
}

hr{
  width: 10%;
  color: #fff;
  margin-top: 14px !important;
  margin-bottom: 12px !important;
}

h1 {
  margin-top: 0px !important;
}


.form-group{
  margin-bottom: 15px;
}

label{
  margin-bottom: 15px;
  color: #0B0B61;
}

input,
input::-webkit-input-placeholder {
  font-size: 11px;
  padding-top: 3px;
}

.main-login{
  background-color: #fff;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
  margin-top: 30px;
  margin: 0 auto;
  max-width: 330px;
  padding: 40px 40px;

}

.main-center2{
  margin: 0 auto;
  max-width: 330px;
}

.alert{
  margin-bottom: 3px !important ;
  padding:4px !important;
}

.login-button{
  margin-top: 5px;
}

.login-register{
  font-size: 11px;
  text-align: center;
}

.field-font{
  font-size: 18px;

}
