.navbar {
  margin: 0;
  border-radius: 0;
}

.navbar-toggle {
  display: inline-block;
  margin-left: 10px;
}

.navbar-inverse {
  background-color: rgba(7, 0, 47, 1);
  border-color: rgba(7, 0, 47, 1);
}

.font-logo{
  margin-top: 5px;
  padding-left: 25px;
  display: inline-block;
  font-size: 30px;
  transform: scale(1.2, 1.4);
  font-weight: bold;
}

.icone-bar{
  width: 35px;
  height: 3px;
}
.navbar-brand:hover{
  color:#9d9d9d;
}
