.content{
  font-family:Arial, "Open Sans", Helvetica, Gotham, sans-serif;
  margin: 5px 5px 5px 5px;

}


.backgruoudItens{
  background-color: #E6E6E6;

}


.separadorItem{
  margin-bottom: 12px;
  padding-top: 10px;
  padding-left: 10px;
}

.itensPedido{
  float: left;
  font-size: 13px;
  margin-bottom: 3px;
  margin-right:  20px;
}

.artigo{
  font-size: 13px;
  margin-left: 0px;
}



@media screen and (min-width: 737px) and (max-width: 1139px) {

}


@media all and (max-width: 950px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {

}

@media all and (max-width: 600px) and (min-width: 500px) {

}

@media all and (max-width: 500px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .itensPedido{
    float: none;
    margin-left: 0;
  }

  .artigo{
    float: none;
    font-size: 22px;
    font-weight: normal;
  }


}
