<div class="div-toogle-menu" (click)="menuLateralComponent.toggleMenu()">
  <app-titulo-page titulo="Resumo Geral" *ngIf="!erro && ternimouCarregar"></app-titulo-page>

<app-alert tipo="danger" mensagem="Erro ao conectar com o servidor." *ngIf="erro "></app-alert>
<app-alert tipo="warning" mensagem="Aguarde"   *ngIf="!ternimouCarregar && !erro"></app-alert>


<app-resumo-por-periodo *ngIf="!erro && ternimouCarregar"
  titulo="Pedidos"
  col="6"
  tipo="primary"
  [consultas]="resumos?.pedidos"
  >
</app-resumo-por-periodo>


<app-resumo-por-periodo *ngIf="!erro && ternimouCarregar"
  titulo="Faturamento"
  col="6"
  tipo="primary"
  [consultas]="resumos?.faturados">
</app-resumo-por-periodo>

<app-resumo-por-periodo *ngIf="!erro && ternimouCarregar"
  titulo="Lucro de Vendas em %"
  col="6"
  tipo="primary"
  [consultas]="resumos?.lucro_em_porcentagem">
</app-resumo-por-periodo>

<app-resumo-por-periodo *ngIf="!erro && ternimouCarregar"
  titulo="Lucro de Vendas em R$"
  col="6"
  tipo="primary"
  [consultas]="resumos?.lucro_em_real">
</app-resumo-por-periodo>

</div>
