* {
  /* Disable selection/Copy of UIWebView */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.main {
  display: flex;
  background-color: #ecf0f5;
  min-height: calc(100vh - 52px);
  overflow: hidden;
}

.content {
  width: 100%;
  padding-top: 0px;
}

