.content{
  font-family:Arial, "Open Sans", Helvetica, Gotham, sans-serif;
  margin: 5px 5px 5px 5px;
}


.formaPagamento{
  float: left;
  text-align: left;
  font-size: 13px;
  margin-bottom: 3px;
}


.totais{
  float: right;
  text-align: right;
  font-size: 13px;
  margin-bottom: 3px;
}

.totais2{
  margin-right: 10px;
}


.contornoRetangulo{
  border:1px #848484 solid;
}

.obs{
  font-size: 11px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.tolerancia{
  font-size: 10px;
}


@media screen and (min-width: 737px) and (max-width: 1139px) {

}


@media all and (max-width: 950px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {

}

@media all and (max-width: 600px) and (min-width: 500px) {

}

@media all and (max-width: 500px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  .formaPagamento{
    float: none;
  }

  .totais{
    float: none;
    text-align: left;
    margin-top: 10px;
  }

}
